table{
    display: table;
    margin: auto;
    border-collapse: collapse ;
    width: 400px;
    height: 400px;
}
td{
    text-align: center;
}
td:nth-child(odd) { background-color: white; }
td:nth-child(even) { background-color: black; }
tr:nth-child(even) td:nth-child(odd) { background-color: black; }
tr:nth-child(even) td:nth-child(even) { background-color: white; }
td:first-child {
    background-color: orange !important;
}

.conteiner{
    background-color: orange;
    width: 600px;
    height: 450px;
}

