body{
    background-color:rgb(245, 235, 235) ;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    background-color:rgb(243, 243, 153);
    padding: 20px;
    text-align: left;
}

h1{
    background-color: rgb(207, 247, 234);
    padding: 3;
    margin-top: -15;    
}
label{
    font-weight: bold;
    color: darkblue;
    display: inline-flex;
    width: 100px;
}

input[type="text"] {
    width:  200px;
    padding: 5px;
    border: 0px solid #ccc;
    border-radius: 0px;
}

input[type="date"] {
    width:  120px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0px;
} 

textarea{
    border-radius: 0px;
}

select {
    width: 110px;
    padding: 5px;
    border-radius: 0px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 13px;
    cursor: pointer;
}

input[type="email"] {
    width:  200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0px;
}

input[type="tel"] {
    width:  200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0px;
}

input[type="submit"], input[type="reset"] {
    background-color: #dcdcdc;
    border: 1px solid #888;
    padding: 5px 10px;
    border-radius: 0px;
    cursor: pointer;
}

input[type="submit"] {
    margin-left: 21%;
}

